#gallery.fast {

  img {
    width: 100vw;
  }

  .image-layer {
    position: absolute;
  }

  .color-quality {
    img {
      height: 100vw;
    }
    z-index: 1;
  }

  .low-quality {
    z-index: 3;
  }

  .good-quality {
    z-index: 5;
  }

}
